<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Home | ClubHub</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="static/styles/AdminUsers.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c2b7a7d1d7.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include "scroll_script.html" %}
    {%include "dropdown_script.html" %}
    
    <main class="app__main">
        <nav class="navbar">
            <div class="app_logo_container">
                <h3>ClubHub</h3>
                <p>Administrator</p>
            </div>
            <div class="nav__links_container">
                <ul class="nav__links">
                    <li><a href="/clear-cookies">Logout <i class="fa-solid fa-user"></i></a></li>
                    <li><a href="#users">Users <i class="fa-solid fa-users"></i></a></li>
                    <li><a href="/clubs">Clubs <i class="fa-solid fa-volleyball"></i></a></li>
                    <li><a href="/events">Events <i class="fa-solid fa-calendar-days"></i></a></li>
                    <li><a href="/home">Home <i class="fa-solid fa-chart-bar"></i></a></li> <!-- Dashboard link -->

                </ul>
            </div>
        </nav>
        <div class="app__content">
                <div class="site-information">
                    <div class="info-card">
                        <img src="{{ url_for('static', filename='images/user_icon.png') }}" alt="User Logo"
                        style="width: 50px; height: 50px;">
                        <br>
                        <p>Active Users: {{user_count}}</p>
                    </div>
                    <div class="info-card">
                        <img src="{{ url_for('static', filename='images/basket.png') }}" alt="Other Logo"
                        style="width: 60px; height: 60px;">
                        <p>Clubs: {{club_count}}</p>
                    </div>
                    <div class="info-card">
                        <img src="{{ url_for('static', filename='images/calender.png') }}" alt="Other Logo"
                        style="width: 70px; height: 70px;">
                        <p>Events: 20</p>
                    </div>
                    <div class="info-card">
                        <img src="{{ url_for('static', filename='images/approval.png') }}" alt="Other Logo"
                        style="width: 60px; height: 60px;">
                        <p>Approvals needed:{{unapproved_count}} </p>
                    </div>
            </div>
            <form id="form1">
                <div class="user_table">
                        <h2 id="users">Unapproved Users</h2>   
                    <div class="headRow">
                        <div class="divCell">User_id</div>
                        <div class="divCell">Username</div>
                        <div class="divCell">Fullname</div>
                        <div class="divCell">Kind</div>
                        <div class="divCell">Email</div>
                        <div class="divCell">PhoneNumber</div>
                        <div class="divCell">Actions</div>
                    </div>
                    {% for user in unapproved_users %}
                    <div class="divRow" data-user-id="{{user.user_id }}" onclick="toggleDetails('userDetails{{user.user_id}}')">
                        <div class="divCell">{{ user.user_id }}</div>
                        <div class="divCell">{{ user.username }}</div>
                        <div class="divCell">{{ user.name }}</div>
                        <div class="divCell">{{ user.kind }}</div>
                        <div class="divCell">{{ user.email }}</div>
                        <div class="divCell">{{ user.mobile }}</div>
                        <div class="divCell">
                            {% if user.id != 1 %}
                            <div class="divActions" style="display: flex;">
                                <form method="POST" action="/approve-student/{{ user.user_id }}">
                                    <button class="action" type="submit">Student</button>
                                </form>
                                <form method="POST" action="/approve-coord/{{ user.user_id }}">
                                    <button class="action" type="submit">Co-ordinator</button>
                                </form>
                                <form method="POST" action="/reject-user/{{ user.user_id }}">
                                    <button class="action" type="submit">Reject</button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div id="userDetails{{ user.id }}" style="display: none; width: 100%;">
                        {% if user.kind == "coordinator" %}
                        <div class="section">
                            <h2>{{ user.id }} is a coordinator for:</h2>
                            <div class="coord-details">
                            {% set club = get_club(user.user_id) %}
                                <li>Club ID: {{ club.user_id }}</li>
                                <li>Name: {{ club.name }}</li>
                            </div>
                        </div>
                        {% else %}
                        <div class="section">
                            <h2>{{ user.user_id }} is a member of:</h2>
                            {% if user is defined %}
                            {% set clubs = get_user_clubs(user.user_id) %}
                            {% for club in clubs %}
                            <div class="coord-details">
                                <li>Club ID: {{ club.user_id }}</li>
                                <li>Name: {{ club.name }}</li>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        
                        <div class="section">
                            <h2>{{ user.user_id }} has event membership for:</h2>
                            {% set events = get_user_events(user.user_id) %}
                            {% for event in user.events %}
                            <div class="coord-details">
                                <li>Event ID: {{ event.user_id }}</li>
                                <li>Name: {{ event.name }}</li>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </form>

            <form id="form1">
                <div class="user_table">
                        <h2 id="users">Users</h2>   
                    <div class="headRow">
                        <div class="divCell">User_id</div>
                        <div class="divCell">Username</div>
                        <div class="divCell">Fullname</div>
                        <div class="divCell">Kind</div>
                        <div class="divCell">Email</div>
                        <div class="divCell">PhoneNumber</div>
                        <div class="divCell">Actions</div>
                    </div>
                    {% for user in users %}
                    <div class="divRow" data-user-id="{{ user.0 }}" onclick="toggleDetails('userDetails{{user.0}}')">
                        {% for item in user %}
                            <div class="divCell">{{ item }}</div>
                        {% endfor %}
                        <div class="divCell">
                            {% if user.0 != 1 %}
                            <div class="divActions" style="display: flex;">
                                <form method="POST" action="/approve-student/{{ user.0 }}">
                                    <button class="action" type="submit">Student</button>
                                </form>
                                <form method="POST" action="/approve-coord/{{ user.0 }}">
                                    <button class="action" type="submit">Co-ordinator</button>
                                </form>
                                <form method="POST" action="/reject-user/{{ user.0 }}">
                                    <button class="action" type="submit">Reject</button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div id="userDetails{{ user.0 }}" style="display: none; width: 100%;">
                        {% if user.3 == "coordinator" %}
                        <div class="section">
                            <h2>{{ user.1 }} is a coordinator for:</h2>
                            <div class="coord-details">
                            {% set club = get_club(user.0) %}
                                <li>Club ID: {{ club.id }}</li>
                                <li>Name: {{ club.name }}</li>
                            </div>
                        </div>
                        {% else %}
                        <div class="section">
                            <h2>{{ user.1 }} is a member of:</h2>
                            {% set clubs = get_user_clubs(user.0) %}
                            {% for club in clubs %}
                            <div class="coord-details">
                                <li>Club ID: {{ club.id }}</li>
                                <li>Name: {{ club.name }}</li>
                            </div>
                            {% endfor %}
                        </div>
                        
                        <div class="section">
                            <h2>{{ user.1 }} has event membership for:</h2>
                            {% set events = get_user_events(user.0) %}
                            {% for event in user.events %}
                            <div class="coord-details">
                                <li>Event ID: {{ event.id }}</li>
                                <li>Name: {{ event.name }}</li>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </main>
</body>
</html>
