<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Awaiting Approval | ClubHub</title>

</head>
<body>
    <!-- page that says your account is Awaiting approval from an admin please check back later -->
    <style>
        h1 {
            font-size: 36px;
            text-align: center;
            margin-top: 40vh;
            transform: translateY(-50%);
        }
        .smiley {
            text-align: center;
            font-size: 200px;
            margin-bottom: 40px; /* Adjusted margin-bottom value */
            transform: translateY(50%);
        }
    </style>

        <div class="smiley">&#9786;</div>
        <h1>Your account is awaiting approval from an admin. Please check back later.</h1>
        <a href="/clear-cookies">Return to Login</a>
    </body>    </html>

    </html>
